.my-calendar {
    width: 1200px;
    margin: 30px auto;
    text-align: center;
}
.my-calendar h1,  .month-btn {
    font-family: Montserrat;
    letter-spacing: 2px;
}

.date__row {
    display: inline-block;
}

.month-btn {
    display: block;
    margin: 21px 10px;
    border: none;
    width: 240px;
    height: 44px;
    font-weight: bold;
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: all 0.4s ease-in-out;
}

.btn-active {
    background-color: #000;
    color: #fff;
}

.month-btn:hover {
    color: #fff;
    background-color: #f886e6;
    transition: all 0.2s ease-in-out;
}


/* - - - CHECK BOXES CSS - - - */

.inputGroup {
    width: 250px;
    background-color: #fff;
    display: block;
    margin: 20px 10px;
    position: relative;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.inputGroup label {
    /*width: 280px;*/
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: color 200ms ease-in;
    overflow: hidden;
    font-family: Montserrat;
}
.inputGroup label:before {
    width: 50px;
    height: 10px;
    border-radius: 50%;
    content: "";
    background-color: #a8a8a8;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}
/*.inputGroup label:after,*/
.remove {
    width: 32px;
    height: 32px;
    content: "";
    border: 2px solid #D1D7DC;
    background-color: #fff;
    /*background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");*/
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label{
    color: #fff;
}
.inputGroup input:checked ~ label:before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}
/*.inputGroup input:checked ~ label:after,*/
.inputGroup input:checked ~ label .remove {
    background-color: #54E0C7;
    border-color: #54E0C7;
}
.inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

.form {
    padding: 0 16px;
    max-width: 550px;
    margin: 50px auto;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
}

body {
    background-color: #D1D7DC;
    font-family: "Fira Sans", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

code {
    background-color: #9AA3AC;
    padding: 0 8px;
}
